In [46]:
import pandas as pd
data=pd.read_csv('heart.csv')
data.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [4]:
data=pd.read_csv('heart.csv')
print(data.head())
data.corr()

   age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  \
0   52    1   0       125   212    0        1      168      0      1.0      2
1   53    1   0       140   203    1        0      155      1      3.1      0
2   70    1   0       145   174    0        1      125      1      2.6      0
3   61    1   0       148   203    0        1      161      0      0.0      2
4   62    0   0       138   294    1        1      106      0      1.9      1

   ca  thal  target
0   2     3       0
1   0     3       0
2   0     3       0
3   1     3       0
4   3     2       0

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
age,1.000000,-0.103240,-0.071966,0.271121,0.219823,0.121243,-0.132696,-0.390227,0.088163,0.208137,-0.169105,0.271551,0.072297,-0.229324
sex,-0.103240,1.000000,-0.041119,-0.078974,-0.198258,0.027200,-0.055117,-0.049365,0.139157,0.084687,-0.026666,0.111729,0.198424,-0.279501
cp,-0.071966,-0.041119,1.000000,0.038177,-0.081641,0.079294,0.043581,0.306839,-0.401513,-0.174733,0.131633,-0.176206,-0.163341,0.434854
trestbps,0.271121,-0.078974,0.038177,1.000000,0.127977,0.181767,-0.123794,-0.039264,0.061197,0.187434,-0.120445,0.104554,0.059276,-0.138772
chol,0.219823,-0.198258,-0.081641,0.127977,1.000000,0.026917,-0.147410,-0.021772,0.067382,0.064880,-0.014248,0.074259,0.100244,-0.099966
fbs,0.121243,0.027200,0.079294,0.181767,0.026917,1.000000,-0.104051,-0.008866,0.049261,0.010859,-0.061902,0.137156,-0.042177,-0.041164
restecg,-0.132696,-0.055117,0.043581,-0.123794,-0.147410,-0.104051,1.000000,0.048411,-0.065606,-0.050114,0.086086,-0.078072,-0.020504,0.134468
thalach,-0.390227,-0.049365,0.306839,-0.039264,-0.021772,-0.008866,0.048411,1.000000,-0.380281,-0.349796,0.395308,-0.207888,-0.098068,0.422895
exang,0.088163,0.139157,-0.401513,0.061197,0.067382,0.049261,-0.065606,-0.380281,1.000000,0.310844,-0.267335,0.107849,0.197201,-0.438029
oldpeak,0.208137,0.084687,-0.174733,0.187434,0.064880,0.010859,-0.050114,-0.349796,0.310844,1.000000,-0.575189,0.221816,0.202672,-0.438441
slope,-0.169105,-0.026666,0.131633,-0.120445,-0.014248,-0.061902,0.086086,0.395308,-0.267335,-0.575189,1.000000,-0.073440,-0.094090,0.345512
ca,0.271551,0.111729,-0.176206,0.104554,0.074259,0.137156,-0.078072,-0.207888,0.107849,0.221816,-0.073440,1.000000,0.149014,-0.382085
thal,0.072297,0.198424,-0.163341,0.059276,0.100244,-0.042177,-0.020504,-0.098068,0.197201,0.202672,-0.094090,0.149014,1.000000,-0.337838
target,-0.229324,-0.279501,0.434854,-0.138772,-0.099966,-0.041164,0.134468,0.422895,-0.438029,-0.438441,0.345512,-0.382085,-0.337838,1.000000

In [10]:
datad =data.duplicated().any()
datad

False

In [11]:
data=data.drop_duplicates()

In [12]:
cate_val=list()
const_val=list()

In [13]:
for coloumn in data.columns:
    if(data[coloumn].nunique()<=10):
        cate_val.append(coloumn);
    else:
        const_val.append(coloumn);
print(const_val)
print(cate_val)

['age', 'trestbps', 'chol', 'thalach', 'oldpeak']
['sex', 'target', 'cp_1', 'cp_2', 'cp_3', 'fbs_1', 'restecg_1', 'restecg_2', 'exang_1', 'slope_1', 'slope_2', 'ca_1', 'ca_2', 'ca_3', 'ca_4', 'thal_1', 'thal_2', 'thal_3']

In [14]:
cate_val.remove('sex')
cate_val.remove('target')
data = pd.get_dummies(data,columns=cate_val,drop_first=True)

In [15]:
print(data.shape)
data.head()

(302, 23)

,age,sex,trestbps,chol,thalach,oldpeak,target,cp_1_True,cp_2_True,cp_3_True,...,exang_1_True,slope_1_True,slope_2_True,ca_1_True,ca_2_True,ca_3_True,ca_4_True,thal_1_True,thal_2_True,thal_3_True
0,52,1,125,212,168,1.0,0,False,False,False,...,False,False,True,False,True,False,False,False,False,True
1,53,1,140,203,155,3.1,0,False,False,False,...,True,False,False,False,False,False,False,False,False,True
2,70,1,145,174,125,2.6,0,False,False,False,...,True,False,False,False,False,False,False,False,False,True
3,61,1,148,203,161,0.0,0,False,False,False,...,False,False,True,True,False,False,False,False,False,True
4,62,0,138,294,106,1.9,0,False,False,False,...,False,True,False,False,False,True,False,False,True,False

In [82]:
data.head()

,age,sex,trestbps,chol,thalach,oldpeak,target,cp_1,cp_2,cp_3,fbs_1,restecg_1,restecg_2,exang_1,slope_1,slope_2,ca_1,ca_2,ca_3,ca_4,thal_1,thal_2,thal_3
0,52,1,125,212,168,1.0,0,False,False,False,False,True,False,False,False,True,False,True,False,False,False,False,True
1,53,1,140,203,155,3.1,0,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False,True
2,70,1,145,174,125,2.6,0,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,True
3,61,1,148,203,161,0.0,0,False,False,False,False,True,False,False,False,True,True,False,False,False,False,False,True
4,62,0,138,294,106,1.9,0,False,False,False,True,True,False,False,True,False,False,False,True,False,False,True,False

In [18]:
X=data.drop('target',axis=1)
Y=data['target']

In [20]:
from sklearn.model_selection import train_test_split
print('imported')

imported

In [21]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)
print(X.shape, X_train.shape, X_test.shape)

(302, 22) (241, 22) (61, 22)

In [22]:
from sklearn.linear_model import LogisticRegression
print('imported')

imported

In [23]:
model = LogisticRegression()

In [32]:
# training the LogisticRegression model with Training data
model.fit(X_train, Y_train)

C:\Users\divya\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [33]:
y_pred1=model.predict(X_test)

In [34]:
from sklearn.metrics import accuracy_score
print('imported')

imported

In [35]:
test_data_accuracy = accuracy_score(Y_test, y_pred1)

In [36]:
print('Accuracy on Test data : ', test_data_accuracy)

Accuracy on Test data :  0.8852459016393442

In [37]:
import pickle

In [38]:
with open('heart_model','wb') as f:
    model=pickle.dump(model,f)

In [39]:
y_pred1

array([0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1], dtype=int64)

In [41]:
X_test

,age,sex,trestbps,chol,thalach,oldpeak,cp_1_True,cp_2_True,cp_3_True,fbs_1_True,...,exang_1_True,slope_1_True,slope_2_True,ca_1_True,ca_2_True,ca_3_True,ca_4_True,thal_1_True,thal_2_True,thal_3_True
252,55,1,132,353,132,1.2,False,False,False,False,...,True,True,False,True,False,False,False,False,False,True
191,56,1,130,221,163,0.0,True,False,False,False,...,False,False,True,False,False,False,False,False,False,True
228,52,1,128,205,184,0.0,True,False,False,True,...,False,False,True,False,False,False,False,False,True,False
334,60,1,130,206,132,2.4,False,False,False,False,...,True,True,False,False,True,False,False,False,False,True
256,35,0,138,183,182,1.4,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,52,1,118,186,190,0.0,False,False,True,False,...,False,True,False,False,False,False,False,True,False,False
39,57,1,128,229,150,0.4,False,True,False,False,...,False,True,False,True,False,False,False,False,False,True
23,63,0,135,252,172,0.0,False,True,False,False,...,False,False,True,False,False,False,False,False,True,False
353,57,1,110,201,126,1.5,False,False,False,False,...,True,True,False,False,False,False,False,True,False,False
46,41,1,135,203,132,0.0,True,False,False,False,...,False,True,False,False,False,False,False,True,False,False

In [42]:
pd.set_option('display.max_columns', None)
data.head(6)

,age,sex,trestbps,chol,thalach,oldpeak,target,cp_1_True,cp_2_True,cp_3_True,fbs_1_True,restecg_1_True,restecg_2_True,exang_1_True,slope_1_True,slope_2_True,ca_1_True,ca_2_True,ca_3_True,ca_4_True,thal_1_True,thal_2_True,thal_3_True
0,52,1,125,212,168,1.0,0,False,False,False,False,True,False,False,False,True,False,True,False,False,False,False,True
1,53,1,140,203,155,3.1,0,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False,True
2,70,1,145,174,125,2.6,0,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,True
3,61,1,148,203,161,0.0,0,False,False,False,False,True,False,False,False,True,True,False,False,False,False,False,True
4,62,0,138,294,106,1.9,0,False,False,False,True,True,False,False,True,False,False,False,True,False,False,True,False
5,58,0,100,248,122,1.0,1,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False

In [44]:
from sklearn.preprocessing import StandardScaler 
st=StandardScaler()
data[const_val]=st.fit_transform(data[const_val])